{{ partial "head" . }}

<body>
    {{ partial "header" . }}
    <div class="body404">
        <div class="info404">
            <header id="header404" class="clearfix">
                <div class="site-name404"><i>404</i></div>
            </header>
            <section>
                <div class="title404">
                    <p> page not found </p>
                </div>
                <a rel="nofollow" href="{{ .Site.BaseURL }}" class="index404">back home</a>
            </section>
        </div>
    </div>
    {{ partial "footer" . }}

</body>

</html>